@model TestItem

@if (Model == null)
{
    <br/>
    <div class="alert alert-warning">
        <strong class="glyphicon glyphicon-warning-sign"></strong> У этого теста еще нет вопросов.
    </div>
    <p></p>
    <a href="/">Вернуться к выбору тестов</a>
}
else
{
    <br />
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-info">
                 @Model.TestPackage.Name <span class="glyphicon glyphicon-circle-arrow-right"></span>
                <br/>
                 <h3> @Model.Question</h3>
            </div>
        </div>
        
        <div class="panel-footer text-center">
            <button type="button" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-ok"></span> <h4>Отправить</h4>
            </button>
        </div>
    </div>
}
