@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Тесты</h3>
        </div>
    </div>
    
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/images/aspnetcore.png" alt="asp.net core"/>
                <div class="caption">
                    <h3>Basic</h3>
                    <p>Основы фреймворка ASP.NET Core</p>
                    <p>
                        <a href="~/test/start" class="btn btn-primary">Начать!</a> <a href="#" class="btn btn-default">Детали</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
