@model IEnumerable<TestPackage>

@{
    ViewData["Title"] = "Home Page";
    bool isFirst = true;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Все Тесты</h3>
        </div>
    </div>
    
    @foreach (TestPackage package in Model)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                @if (isFirst)
                {
                    isFirst = false;
                    <img src="~/images/aspnetcore.png" alt="asp.net core"/>
                }
                else
                {
                    <img src="~/images/test.jpg" alt="asp.net core" />
                }
                <div class="caption">
                    <h3>@package.Name</h3>
                    Автор  <b>@package.User.UserName</b>
                    <br/>
                    Вопросов  <b>@package.TestItems.Count</b>
                    <br /><br />
                    <p>@package.Description</p>
                    <p>
                        <a href="~/test/index/?gameId=@package.TestPackageId" class="btn btn-primary">Начать!</a>
                    </p>
</div>
            </div>
        </div>
    }

</div>
